<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">
            <span class="material-icons">dashboard</span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">
            <span class="material-icons">category</span>
            Categories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">
            <span class="material-icons">inventory</span>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">
            <span class="material-icons">people</span>
            Customers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coupons">
            <span class="material-icons">card_giftcard</span>
            Coupons
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders">
            <span class="material-icons">receipt</span>
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings">
            <span class="material-icons">settings</span>
            Settings
          </a>
        </li>
      </ul>
    </div>
  </nav>
  