<div class="user-detail ">
    <h2 class="bg-white text-center w-25 ">User Details</h2>
    <div *ngIf="user">
      <p><strong>Name:</strong> {{ user.name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>

    </div>
  
    <h3>Orders</h3>
    <table *ngIf=" user?.orders!.length > 0" class="table bg-dark">
      <thead  style="background-color: blue;">
        <tr>
       

          <th>Total</th>
          <th>paymentMethod</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of user?.orders">
      
          <td>{{ order.totalPrice }}</td>
          <td>{{ order.paymentMethod}} </td>

          
        </tr>
      </tbody>
    </table>
  

  </div>
