<div class="container w-75 my-5">
  <div class="row">
      <!-- Image Column -->
      <div class="col-md-6 d-flex align-items-center justify-content-center">
          <img src="user.PNG" alt="" class="img-fluid">
      </div>
      <!-- Form Column -->
      <div class="col-md-6">
          <form [formGroup]="addUserForm" (ngSubmit)="submitForm()">
              <!-- Username Input -->
              <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input formControlName="name" type="text" class="form-control" id="username" placeholder="Enter username">
              </div>
              <!-- Email Input -->
              <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email">
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter password">
              </div>
              <div class="mb-3">
                  <label for="confirmpassword" class="form-label">Confirm Password</label>
                  <input formControlName="confirmPassword" type="password" class="form-control" id="confirmpassword" placeholder="Enter confirm password">
              </div>
              <!-- Role Selection -->
              <div class="mb-3">
                  <label for="role" class="form-label">Role</label>
                  <select formControlName="role" class="form-select" id="role">
                      <option value="" disabled>Select role</option>
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
                  </select>
              </div>
              <!-- Submit Button -->
              <button type="submit" class="btn btn-primary">Add User</button>
          </form>
      </div>
  </div>
</div>

  